################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PrimeGenerator.sln
/PrimeGenerator/bin
/PrimeGenerator/obj