@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Everyone has their own preferences when it come to primes, that's why this webapp was made. So that you can find a prime just right for you. </p>
