@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Developer:</strong> <a href="mailto:niquefa.diego@outlook.com">niquefa.diego@outlook.com</a><br />
</address>
